/* general */
body {
    background: #F4F4FD;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio-header {
    color: #2E2F42;
}

.studio-footer{
    color: #F4F4FD;
}

.navigation-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.navigation-list:hover,
.navigation-list:focus {
    color: #404BBF;
}

.address-list {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list:hover,
.address-list:focus {
    color: #404BBF;
}

.section-footer {
    background: #2E2F42;
}

.section-footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* For index.html */

.page-name {
    background: #2E2F42;
}

.page-name h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 496px;
    height: 120px;
}

.button-studio {
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.button-studio:hover,
.button-studio:focus {
    background-color: #404BBF;
}

.page-info h3 {
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.page-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-ourtaem {
    background: #E5E5E5;
}

.list-ourtaem {
    background: #FFFFFF;
}

.list-ourtaem h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-ourtaem p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* For portfolio.html */
.button-portfolio {
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
    background: #404BBF;
    color: #FFFFFF;
}

.portfolio-img h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-img p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455
}